<div class="container">
  <div class="row">
    <button class="btn btn-success" (click)="menu = 'Cria'">
      Cria
    </button>
    <button class="btn btn-success" (click)="menu = 'Lista'">
      Lista
    </button>
    <button class="btn btn-success" (click)="menu = 'Deleta'">
      Deleta
    </button>
  </div>

  <div class="row" *ngIf="menu == 'Lista'">
    <div class="col-md-12">
      <app-lista>
      </app-lista>
    </div>
  </div>

  <div class="row" *ngIf="menu == 'Cria'">
    <div class="col-md-12">
      <app-cria>        
      </app-cria>
    </div>
  </div>

  <div class="row" *ngIf="menu == 'Deleta'">
    <div class="col-md-12">
      <app-deleta>
      </app-deleta>
    </div>
  </div>
</div>

